.page {
  height: 100vh;
  width: 100vw;
  background: #f3f2f2;
  padding: 6rem;
}

.content {
  background: white;
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
}

.leftmenu {
  background: #f8f9fb;
  padding: 3rem 1rem;
  position: relative;
}

.appname {
  color: black;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.appmenu {
  color: black;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.appfooter {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 85%;
}

.pagecontent {
  padding: 3rem;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
