.container {
  padding-top: 2rem !important;
  padding-right: 0.85rem !important;
  user-select: none !important;
}

.appname {
  color: black !important;
  margin-bottom: 2rem !important;
  font-size: 1.25rem !important;
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.subheader {
  text-transform: uppercase !important;
  font-size: 0.7em !important;
  margin-bottom: -10px !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.itemname {
  color: rgba(0, 0, 0, 0.54) !important;
}

.appfooter {
  position: absolute !important;
  bottom: 4rem !important;
  width: calc(100% - 0.85rem);
  background: rgba(129, 104, 235, 0.8) !important;
  padding: 0.5rem !important;
  border-radius: 0.25rem !important;
}

.address {
  color: white !important;
  font-size: 0.7rem !important;
}
