node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts/**
!artifacts/contracts
artifacts/contracts/**
!artifacts/contracts/Zenith.sol
!artifacts/contracts/Zenith.sol/Zenith.json

.vercel
*.tsbuildinfo
next-env.d.ts
.next/
out/
build

npm-debug.log*
