.adname {
  color: #8168eb !important;
  cursor: pointer !important;
}

.adname:hover {
  text-decoration: underline !important;
}

.addescription {
  font-size: 0.85rem !important;
  margin-top: 0.25rem !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.adurl {
  color: green !important;
  font-size: 0.85rem !important;
  margin-top: 0.25rem !important;
}
