* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
.MuiStepLabel-label,
.MuiFormLabel-root
{
  color: rgba(0, 0, 0, 0.54) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiCardHeader-title {
  color:rgba(0, 0, 0, 0.54) !important;
}

.MuiButton-textPrimary:not(:disabled) {
  color: #8168eb !important;
}

.MuiButton-containedPrimary {
  background-color: #8168eb !important;
}

.MuiInputBase-colorPrimary::after {
  border-bottom-color: #8168eb !important;
}

.MuiStepIcon-root.Mui-active,
.MuiStepIcon-root.Mui-completed {
  color: #8168eb !important;
}

.MuiMenuItem-root.Mui-selected {
  background-color: rgba(129,104,235,0.4) !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none;
}
