.page {
  height: 100vh !important;
  width: 100vw !important;
}

.content {
  background: white !important;
  border-radius: 0.5em !important;
  height: 100% !important;
  overflow: hidden !important;
}

.header {
  height: 50px !important;
  width: 100% !important;
  border-bottom: 0.008rem solid #bdbdbd !important;
}

.contentContainer {
  margin-left: 0.79rem !important;
  margin-right: 0.79rem !important;
  height: 100% !important;
}
