.logoContainer {
  margin-top: 2rem !important;
  margin-left: 0.79rem !important;
  margin-right: 0.79rem !important;
}

.detailsContainer {
  height: 25rem !important;
}

.statsContainer {
  margin-top: 1rem !important;
  font-size: 4rem !important;
}
