.page {
  height: 100vh !important;
  width: 100vw !important;
  background: #f3f2f2 !important;
  padding: 6rem !important;
}

.content {
  background: white !important;
  border-radius: 1.8rem !important;
  height: 100% !important;
  overflow: hidden !important;
}

.container {
  height: 100% !important;
}

.leftmenu {
  background: #f8f9fb !important;
  padding: 3rem 1rem !important;
  position: relative !important;
}

.pagecontent {
  padding: 3rem !important;
}
