.page {
  height: 100vh !important;
  width: 100vw !important;
  padding: 1.5rem !important;
}

.content {
  background: white !important;
  border-radius: 0.5em !important;
  height: 100% !important;
  overflow: hidden !important;
}

.header {
  height: 50px !important;
  width: 100% !important;
  border-bottom: 0.008rem solid #bdbdbd !important;
}

.container {
  height: 100% !important;
}

.leftmenu {
  padding: 2rem 1rem 3rem 1rem !important;
  position: relative !important;
  border-right: 0.008rem solid #bdbdbd !important;
}

.pagecontent {
  padding: 2rem 3rem 3rem 3rem !important;
}
