.container {
  height: 100% !important;
}

.leftmenu {
  position: relative !important;
  border-right: 0.008rem solid #bdbdbd !important;
}

.pagecontent {
  padding: 2rem 5rem 3rem 3rem !important;
}
